.mentor {
  width: 100%;
  padding: 50px 0;
  .mentor_photo {
    padding: 0;
    img {
      max-width: 100%;
    }
  }
  .list {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    max-width: 100%;
    hr {
      width: 80px;
      border: 2px solid #2188f7;
      margin: 40px 0;
    }
    ol {
      list-style: none;
      padding-left: 0;
    }
    ol > li {
      font-family: "Open Sans", sans-serif;
      font-size: 22px;
      padding: 0 32px;
      position: relative;
      margin: 10px;
    }
    ol > li:before {
      content: "✔";
      position: absolute;
      top: 0;
      left: 0;
    }
    .button {
      text-align: center;
      button {
        background-color: #fa4b11;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        color: white;
        margin: 40px 0 0 0;
        transition: all 2s ease;
        border-radius: 5px;
      }
      button:hover {
        transition: all 2s ease;
        transform: scale(1.2);
      }
    }
  }
}
@media (min-width: 576px) {
  .mentor {
    text-align: center;
  }
}
